<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 前台服务权限配置 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" /> <!-- 需要使用的硬件 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" /> <!-- 直接拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 声明接收系统启动广播的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 自定义权限，为自定义的 provider 配置的 permission 保持一致 -->
    <permission
        android:name="com.example.hqandroidstu.provider.READ_WRITE_PROVIDER"
        android:protectionLevel="normal" />

    <application
        android:name=".HqApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HqAndroidStu"
        tools:targetApi="31">
        <activity
            android:name=".webview.HqWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.HqDataPassShowActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.HqDataShow2Activity"
            android:exported="false" />
        <activity
            android:name=".dialog.HqDialogActivity"
            android:exported="false" />
        <activity
            android:name=".scan.HqScanCodeSimpleActivity"
            android:exported="false" />
        <activity
            android:name=".scan.HqCameraXActivity"
            android:exported="false" />
        <activity
            android:name=".scan.HqScanCodeActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.HqKotlinStuActivity"
            android:exported="false" />
        <activity
            android:name=".uibase.HqCustomViewActivity"
            android:exported="false" />
        <activity
            android:name=".uibase.HqUICompetentActivity"
            android:exported="false" />
        <activity
            android:name=".ble.HqBluetoothStuActivity"
            android:exported="false" />
        <activity
            android:name=".libs.HqLibsTestActivity"
            android:exported="false" />
        <activity
            android:name=".weather.HqWeatherMainActivity"
            android:exported="false" />
        <activity
            android:name=".gaoji.HqDataShowActivity"
            android:exported="false" />
        <activity
            android:name=".gaoji.HqGaojiActivity"
            android:exported="false" />
        <activity
            android:name=".jetpack.HqWorkManagerStuActivity"
            android:exported="false" />
        <activity
            android:name=".jetpack.HqRoomStuActivity"
            android:exported="false" />
        <activity
            android:name=".jetpack.HqJetpackStuActivity"
            android:exported="false" /> <!-- @style/HqTransparentTheme  自定义主题 -->
        <activity
            android:name=".material.HqFruitActivity"
            android:exported="false"
            android:theme="@style/HqTransparentTheme" />
        <activity
            android:name=".material.HqDrawerActivity"
            android:exported="false"
            android:theme="@style/HqStatusBarTheme" />
        <activity
            android:name=".material.HqMaterialActivity"
            android:exported="false" />
        <activity
            android:name=".network.HqRetrofitStuActivity"
            android:exported="false" />
        <activity
            android:name=".network.HqDataParseActivity"
            android:exported="false" />
        <activity
            android:name=".network.HqHttpRequestActivity"
            android:exported="false" />
        <activity
            android:name=".network.HqWebViewStuActivity"
            android:exported="false" /> <!-- 前台服务配置 -->
        <service
            android:name=".service.HqStuService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync" />

        <activity
            android:name=".service.HqMultiThreadStuActivity"
            android:exported="false" />
        <activity
            android:name=".service.HqServiceStuActivity"
            android:exported="false" />
        <activity
            android:name=".media.HqPlayVideoActivity"
            android:exported="false" />
        <activity
            android:name=".media.HqPlayAudioActivity"
            android:exported="false" />
        <activity
            android:name=".media.HqCameraPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".media.HqNotifyContentActivity"
            android:exported="false" />
        <activity
            android:name=".media.HqNotifyMainActivity"
            android:exported="false" />
        <activity
            android:name=".datashare.HqVisitCustomContentProviderActivity"
            android:exported="false" />
        <!--
android:directBootAware 是否在用户解锁之前运行
android:exported 是否让其他程序运行
        -->
        <provider
            android:name=".data.HqDatabaseContentProvider"
            android:authorities="com.example.hqandroidstu.provider"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.hqandroidstu.provider.READ_WRITE_PROVIDER" /> <!-- 配置FileProvider可以访问的路径 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.hqandroidstu.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".datashare.HqRuntimePermissionActivity"
            android:exported="false" />
        <activity
            android:name=".datashare.HqDataShareActivity"
            android:exported="false" />
        <activity
            android:name=".data.HqDBActivity"
            android:exported="false" />
        <activity
            android:name=".data.HqDataSaveActivity"
            android:exported="false" /> <!-- <receiver -->
        <!-- android:name=".service.HqCustomBroadcastReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.example.hqandroidstu.action.HQ_BROADCAST"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- 注册广播接收器 -->
        <receiver
            android:name=".service.HqBootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".service.HqBroadcastActivityStu"
            android:exported="false" />
        <activity
            android:name=".uibase.HqNewsMainActivity"
            android:exported="false" />
        <activity
            android:name=".uibase.HqNewsContentActivity"
            android:exported="false" />
        <activity
            android:name=".uibase.HqFragmentStuActivity2"
            android:exported="false" />
        <activity
            android:name=".uibase.HqFragmentStuActivity"
            android:exported="false" />
        <activity
            android:name=".uibase.HqMessageActivity"
            android:exported="false" />
        <activity
            android:name=".uibase.HqRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".uibase.HqListViewActivity"
            android:exported="false" /> <!-- android:theme 指定 theme -->
        <activity
            android:name=".uibase.HqCustomUIActivity"
            android:exported="false"
            android:theme="@style/Theme.HqAndroidStu.NOActionBar" />
        <activity
            android:name=".uibase.HqLayoutBaseActivity"
            android:exported="false" />
        <activity
            android:name=".uibase.HqUIBaseActivity"
            android:exported="false" />
        <activity
            android:name=".HqBaseActivity"
            android:exported="false" />
        <activity
            android:name=".HqThirdActivity"
            android:exported="true">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
            </intent-filter>
        </activity> <!-- android:exported 必须为true才能隐式启动 -->
        <activity
            android:name=".HqSecondActivity"
            android:exported="true"
            android:label="第二个Activity">
            <intent-filter>

                <!--
action标签的 android:name 是自定义的名称，推荐格式为 包名.ACTION_自定义名称
每个Intent中只能指定一个action，但能指定多个category
                -->
                <action android:name="com.example.hqandroidstu.HQ_ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- 添加自定义的category -->
                <category android:name="com.example.hqandroidstu.category.HQ_SENCOND" />
            </intent-filter>
        </activity>
        <!--
android:name= "com.example.hqandroidstu.FirstActivity"
完整写法
        -->
        <activity
            android:name=".HqFirstActivity"
            android:exported="false"
            android:label="第一个Activity" /> <!-- 没有在AndroidManifest.xml里注册的Activity是不 能使用的 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Main">
            <intent-filter>

                <!-- 设置为主activity -->

                <action android:name="android.intent.action.MAIN" />
                <!-- 设置为APP启动后显示的第一个页面 -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>